<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Header</title>
<meta name="Header1" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/hb.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<footer th:fragment="footer" class="color-code color-code1 text-center">
		<div class="pt-2 mt-5">
			<div class="color-code color-code1">
				<div class="text-center h6 mb-2">Follow Us on Social Media</div>
				<section class="m-2 pt-2">
					<img class="ml-3" src="images/facebook.png" width="30" height="30"/>
					<img class="ml-3" src="images/instagram.png" width="30" height="30"/>
					<img class="ml-3" src="images/linkedin.png" width="30" height="30"/>
					<img class="ml-3" src="images/twitter.png" width="30" height="30"/>	
				</section>
			</div>
			<div class="text-center p-1 color-code color-code1">2021 Copyright:
				Maggotty High Alumni Association – US northern Region</div>
		</div>
	</footer>
</body>
</html>