<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Header</title>
<meta name="Header1" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/hb.css">
</head>
<body>
	<header th:fragment="header">

		<nav role="navigation">

			<div class="menuHeaderContainer">
				<div class="menuHeaderLogo">
					<img src="/images/logo.png" class="float-start" height="50">
				</div>

				<div class="menuHeadingText">
					<strong>NexusPeak Alumni Engagement</strong>
				</div>
				<div id="menuToggle">
					<input type="checkbox" /> <span></span> <span></span> <span></span>
					<ul id="menu">
						<li><a href="/"><img src="/images/logo.png"
								class="float-start" height="50"></a></li>
						<li><a href="/">Home</a></li>
						<li><a href="/events">Events</a></li>
						<li><a href="/FAQs">FAQ</a></li>
						<li><a href="/aboutus">About Us</a></li>
						<li><a href="/contactus">Contact Us</a></li>
						<span th:switch="${sessionId != null}">
							<span th:case="${true}">
								<li><a href="/logout">Logout</a></li>
							</span>
							<span th:case="*">
								<li><a href="/login">Sign In</a></li>
								<li><a href="/signup">Sign Up</a></li>
							</span>
						</span>
<!-- 						<li th:text="${sessionId}"></li> -->
					</ul>
				</div>
			</div>
		</nav>
	</header>
</body>
</html>