<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Header</title>
<meta name="Header1" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/hb.css">
</head>
<body>
	<header th:fragment="header">

		<nav role="navigation">

			<div class="menuHeaderContainer">
				<div class="menuHeaderLogo">
					<img src="/images/logo.png" class="float-start" height="50">
				</div>

				<div class="menuHeadingText">
					<strong>NexusPeak Alumni Engagement</strong>
				</div>
				<div id="menuToggle">
					<input type="checkbox" /> <span></span> <span></span> <span></span>
					<ul id="menu">
						<li><a href="/"><img src="/images/logo.png"
								class="float-start" height="50"></a></li>
						<li><a href="/">Home</a></li>
						<li><a href="/event">Events</a></li>
						<li><a href="/FAQs">FAQ</a></li>
						<li><a href="/aboutus">About Us</a></li>
						<li><a href="/contactus">Contact Us</a></li>
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Signup</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
</body>
</html>