.bg-danger {
    background-color: #800020;
}
.text-white {
   color: #FFFFFF !important;
}

.navbar-inverse .navbar-nav li a{
	color : #FFFFFF;
	  font-weight: bold;
	
}

.input-group-focus {
  border-radius:4px;
  -webkit-transition: box-shadow ease-in-out .15s;
          transition: box-shadow ease-in-out .15s;
}