<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="NexusPeek" content="width=device-width, initial-scale=1">
    <title>NexusPeak Alumni User Registration</title>
    <style type="text/css">
    .thumbnail {
    position: relative;
    width: 100%;
    height: 5%;
    }

    .caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    font-size: xxx-large;
    font-weight: bold;
    }
    .button {
  background-color:  #800020 !important;
  border-color:  #800020 !important;
  color:  #800020 !important;
}
    </style>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- adds ajax and bootstrap libraries -->
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- adds bootstrap libraries -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/hb.css">
</head>
<body>
<header th:insert="fragments/header.html :: header"> </header>
<div class="container text-center">
    <div>
        <h3>NexusPeak User Registration</h3>
    </div>
    <form th:action="@{/process_register}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">E-mail: </label>
                <div class="col-8">
                    <input type="email" th:field="*{email}" class="form-control" required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input type="password" th:field="*{password}" class="form-control"
                           required minlength="6" maxlength="10"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">First Name: </label>
                <div class="col-8">
                    <input type="text" th:field="*{firstname}" class="form-control"
                           required minlength="2" maxlength="20"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Last Name: </label>
                <div class="col-8">
                    <input type="text" th:field="*{lastName}" class="form-control"
                           required minlength="2" maxlength="10" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label" for="role">Role: </label>
                <div class="col-8">
                    <select name="role" id="role"  style="width: 500px !important; min-width: 370px; max-width: 370px; height:50px !important;max-height:100px">
                        <option value="" disabled selected>Select your option</option>
                        <option value="Alumni">Alumni</option>
                        <option value="Alumni_Coordinator">Alumni_Coordinator</option>
                        <option value="President">President</option>
                        <option value="Vice-President">Vice-President</option>
                        <option value="Treasurer">Treasurer</option>

                    </select>
                </div>
            </div>
            <div>
                <input type="reset" value="Reset" class="btn btn-primary" style="background-color: #800020;">
                <button type="submit" class="btn btn-primary" style="background-color: #800020;">Sign Up</button>

            </div>
        </div>
    </form>
</div>
<footer th:insert="fragments/footer.html :: footer"></footer>
</body>
</html>